{{post-title title=post.title saveTitle='savePostTitle'}}

<span class="post-type">{{post.postType}}</span>

<div class="post-body">
  {{#if isEditingBody}}
    {{editor-with-preview input=post.markdownPreview preview=post.bodyPreview generatePreview='generatePreview'}}
    <button {{action 'savePostBody'}} class="save">Save</button>
    <button {{action 'cancel'}} class="cancel">Cancel</button>
  {{else}}
    <div class="body">{{{post.body}}}</div>
    {{#if session.isAuthenticated}}
      <button class="edit" {{action 'editPostBody'}}>Edit</button>
    {{/if}}
  {{/if}}
</div>
