<ul class="post-filtering-menu">
  <li>
    Filter by:
  </li>
  <li>
    {{!-- <a class="filter all" {{action 'removeFilter'}}>All</a> --}}
    {{link-to "All" "project.posts" (query-params postType=null pageNumber=1) class="filter all"}}
  </li>
  <li>
    {{link-to "Tasks" "project.posts" (query-params postType='task' pageNumber=1) class="filter tasks"}}
  </li>
  <li>
    {{link-to "Issues" "project.posts" (query-params postType='issue' pageNumber=1) class="filter issues"}}
  </li>
  <li>
    {{link-to "Progress" "project.posts" (query-params postType='progress' pageNumber=1) class="filter progress"}}
  </li>
  <li>
    {{link-to "Ideas" "project.posts" (query-params postType='idea' pageNumber=1) class="filter ideas"}}
  </li>
  <li>
    {{link-to 'New Post' 'project.posts.new' tagName='button' class="new-post success"}}
  </li>
</ul>
<div class="posts">
  {{#each posts as |post|}}
    {{post-item post=post}}
  {{else}}
    <div class="no-posts">There are currently no posts of any type created for this project</div>
  {{/each}}
</div>

{{pager-control options=options pageChanged='pageChanged'}}